@model RedefinirSenhaModel
@{
    Layout = "_LayoutDeslogada";
    ViewData["Title"] = "Login";
}
<style>
    #form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* Estilos adicionais, se necessário */
    #img {
        text-align: center;
    }
</style>

<div id="img">
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger">
            @TempData["MensagemErro"]
        </div>
    }
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-sucess">
            @TempData["MensagemSucesso"]
        </div>
    }
</div>
<form id="form" action="/Login/entrar" method="post">
    <div class="mb-3">
        <label for="login" class="form-label">Usuário</label>
        <input type="text" asp-for="Login" class="form-control" id="login">
        @Html.ValidationMessageFor(x => x.Login)
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="text" asp-for="Email" class="form-control" id="email">
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <button id="button" type="submit" class="btn btn-secondary form-control" style="background-color: #2F3538;">Redefinir Senha</button>
    <h6> </h6>
    <a class="btn btn-secondary btn-block form-control" asp-action="Index" asp-controller="Login" role="button" style="background-color: blue;">Voltar</a>
</form> 