@{
    Layout = "_LayoutDeslogada";
    ViewData["Title"] = "Pejo";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css">
    <style>

        header {
            background-color: #D3D3D3; /* Cor de fundo do header */
        }

        .navbar-nav .nav-link {
            color: blue; /* Cor do texto no header */
            transition: color 0.3s; /* Transição suave de cor ao passar o mouse */
        }

            .navbar-nav .nav-link:hover {
                color: gray; /* Cor do texto no header quando o mouse está sobre ele */
            }

        .btn-primary {
            background-color: white; /* Define o fundo do botão como branco */
            color: blue; /* Define a cor do texto do botão como azul */
            border: 1px solid blue; /* Adiciona uma borda azul de 1px ao botão */
            transition: background-color 0.3s, color 0.3s, border 0.3s; /* Adiciona transições suaves para as mudanças de cor e borda */
            margin-left: 500px;
        }

            .btn-primary:hover {
                background-color: blue; /* Define a cor de fundo do botão quando o mouse está sobre ele como azul */
                color: white; /* Define a cor do texto como branco quando o mouse está sobre o botão */
                border: 1px solid white; /* Define a borda como branca quando o mouse está sobre o botão */
            }

        /* Estilo para centralizar imagens dos carros no carousel */
        #car-image-carousel img {
            display: block;
            margin: 0 auto;
            height: 500px;
            border-radius: 15px;
        }

        /* Estilo para centralizar o título "Detalhes do Carro" e deixá-lo em negrito */
        .container.car-details h3 {
            font-size: 20px;
            text-align: center;
            font-weight: bold;
            font-family: Poppins, sans-serif; /* Altere a fonte conforme desejado */
            color: black;
            margin-top: 10px;
        }

        .container.itens-car h1 {
            font-size: 20px;
            text-align: left;
            font-weight: bold;
            font-family: Poppins, sans-serif; /* Altere a fonte conforme desejado */
        }

        /* Estilo para os parágrafos com detalhes do carro (alinhados à esquerda) */
        .container.car-details p {
            font-size: 18px;
            text-align: left;
            font-family: Poppins, sans-serif; /* Altere a fonte conforme desejado */
        }

            /* Estilo para os parágrafos com a marca e modelo (negrito) */
            .container.car-details p strong {
                font-weight: bold;
                color: #333;
                font-family: Poppins, sans-serif; /* Altere a fonte conforme desejado */
            }

        .container.itens-car p {
            font-size: 18px;
            text-align: left;
            font-family: Poppins, sans-serif;
        }

            .container.itens-car p strong {
                font-weight: bold;
                color: #333;
                font-family: Poppins, sans-serif; /* Altere a fonte conforme desejado */
            }

        .container.itens-car h1 {
            color: black;
            margin-top: 10px;
        }

        .container.car-details {
            text-align: left;
            width: 70%; /* Ajuste a largura conforme desejado */
            margin: 0 auto;
            background-color: #DCDCDC;
            border-radius: 10px;
        }

            .container.car-details p {
                color: gray;
            }

        .container.itens-car {
            text-align: left;
            width: 70%; /* Ajuste a largura conforme desejado */
            margin: 0 auto;
            background-color: #DCDCDC;
            border-radius: 10px;
        }

            .container.itens-car p {
                color: gray;
            }

        /* Estilo para botões de controle do carrossel em preto */
        .carousel-control-prev,
        .carousel-control-next {
            background-color: transparent; /* Remove o fundo */
            border: none; /* Remove a borda */
        }

        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            background-color: #000; /* Cor preta para a parte da seta */
            color: #fff; /* Cor do ícone (se necessário) */
        }

        .sr-only {
            background-color: transparent; /* Remove o fundo do texto de acessibilidade */
        }

        .description {
            margin-top: 10px;
        }

        button {
            background-color: transparent;
            color: blue;
            border: 2px solid blue;
            padding: 10px 20px;
            margin-top: 10px;
            margin-left: 50%;
            cursor: pointer;
            border-radius: 10px;
        }

            button:hover {
                background-color: blue;
                color: white;
            }
    </style>
    <title>Detalhes do Carro</title>
</head>
<body>
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> </a>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>
                        <a class="nav-link text-dark" asp-area="Index" asp-controller="HomeLogado" asp-action="">Loca<strong style="color: blue;">Facil</strong></a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="HomeLogado" asp-action="Index">Olá, Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Carro" asp-action="Index">CadastrarVeículo</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="HomeLogado" asp-action="MeuPerfil">Perfil</a>
                    </li>
                    <li>
                        <a class="nav-link text-black" asp-area="" asp-controller="HomeLogado" asp-action="Ajuda">Ajuda</a>
                    </li>
                </ul>
                <a class="btn btn-primary" asp-controller="Login" asp-action="Sair">Sair</a>
            </div>
        </nav>
    </header>
    <hr />

    <!-- Carrossel de imagens -->
    <div id="car-image-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/pejo_frente2-removebg-preview.png" alt="Carro 1">
            </div>
            <div class="carousel-item">
                <img src="~/308_peugeot_traseira-removebg-preview.png" alt="Carro 2">
            </div>
            <div class="carousel-item">
                <img src="~/peugeot-308_interna.jpg" alt="Carro 3">
            </div>
        </div>

        <!-- Botões de controle personalizados -->
        <a class="carousel-control-prev" href="#car-image-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#car-image-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" ariahidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>

    <!-- Detalhes do Carro -->
    <div class="container car-details" style="width: 1300px; height: auto;">
        <h3>Detalhes do Carro</h3>
        <div class="row">
            <div class="col-md-6">
                <p><strong style="color:black">Marca:</strong> Peugeot</p>
                <p><strong style="color:black">Modelo:</strong> 308</p>
                <p><strong style="color:black">KM:</strong> 39.524</p>
            </div>
            <div class="col-md-6">
                <p><strong style="color:black">Cor:</strong> Branco</p>
                <p><strong style="color:black">Ano:</strong> 2022</p>
                <p><strong style="color:black">Transmissão:</strong> Automático</p>
            </div>
            <div class="description">
                <hr />
                <strong style="color:black">Descrição</strong>
                <p>
                    O Peugeot 308 é um hatchback compacto que oferece um equilíbrio notável entre motorização, tecnologia, conforto e tamanho.
                    O motor do Peugeot 308 varia entre as versões, mas geralmente inclui opções de motores a gasolina e diesel, com ênfase na eficiência de combustível e desempenho sólido.
                    O motor a gasolina mais comum é um 1.2 litros turboalimentado, que oferece um equilíbrio entre potência e economia de combustível.
                    Em relação à tecnologia, o Peugeot 308 está equipado com recursos modernos, como uma tela sensível ao toque no painel, sistemas de entretenimento, conectividade Bluetooth e opções avançadas de assistência ao motorista, como controle de cruzeiro adaptativo e frenagem automática de emergência.
                    O conforto é uma característica notável do Peugeot 308, com assentos bem projetados e um interior de alta qualidade, proporcionando uma experiência de condução agradável para motorista e passageiros.
                    O espaço interno é adequado para acomodar confortavelmente quatro a cinco pessoas.
                    O Peugeot 308 é um carro compacto, o que o torna ágil para a condução em áreas urbanas, facilitando o estacionamento em espaços apertados.
                    No entanto, ele também oferece um tamanho que fornece espaço suficiente para torná-lo prático para viagens mais longas.
                    Em resumo, o Peugeot 308 é um hatchback compacto com uma variedade de opções de motores, tecnologia moderna, conforto e um tamanho versátil que o torna uma escolha sólida para quem procura um carro equilibrado para o uso diário.
                </p>
            </div>
        </div>
    </div>
    <div class="container itens-car" style="width: 1300px; height: auto;">
        <h1> Itens do carro </h1>
        <div class="row">
            <div class="col-md-4">
                <p>Alarme</p>
                <p>Ar condicionado</p>
            </div>
            <div class="col-md-4">
                <p>Vidros elétricos</p>
                <p>Travas elétricas</p>
            </div>
            <div class="col-md-4">
                <p>Direção hidráulica</p>
                <p>Chaveiro personalizado</p>
            </div>
        </div>
    </div>

    <button onclick="redirectToWhatsApp()">Agendar</button>

    <script>
        function redirectToWhatsApp() {
            var numeroWhatsApp = '16991277079';
            var urlWhatsApp = 'https://wa.me/' + numeroWhatsApp;
            window.location.href = urlWhatsApp;
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</body>
</html>
