@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        header {
            background-color: #D3D3D3; /* Cor de fundo do header */
        }

        .navbar-nav .nav-link {
            color: blue; /* Cor do texto no header */
            transition: color 0.3s; /* Transição suave de cor ao passar o mouse */
        }

            .navbar-nav .nav-link:hover {
                color: gray; /* Cor do texto no header quando o mouse está sobre ele */
            }

        /* Estilos para o fundo da tela */
        body {
            background-color: white; /* Lavanda Blush */
        }

        .btn-primary {
            background-color: white; /* Define o fundo do botão como branco */
            color: blue; /* Define a cor do texto do botão como azul */
            border: 1px solid blue; /* Adiciona uma borda azul de 1px ao botão */
            transition: background-color 0.3s, color 0.3s, border 0.3s; /* Adiciona transições suaves para as mudanças de cor e borda */
            margin-left: 500px;
        }

            .btn-primary:hover {
                background-color: blue; /* Define a cor de fundo do botão quando o mouse está sobre ele como azul */
                color: white; /* Define a cor do texto como branco quando o mouse está sobre o botão */
                border: 1px solid white; /* Define a borda como branca quando o mouse está sobre o botão */
            }
        /* Adicione o seguinte código CSS para centralizar os cards */
        .content-container {
            text-align: center;
        }

        .card {
            display: inline-block;
            vertical-align: top;
            margin: 10px;
        }
        /* Estilos para o layout dos cards */
        .card {
            width: 30%; /* Defina a largura desejada para os cards */
            border: 1px solid black;
            margin: 10px;
            display: inline-block;
            vertical-align: top;
            background-color: white;
        }

            /* Estilos para a imagem dentro dos cards */
            .card img {
                width: 100%;
                height: auto;
            }

            /* Estilos para a descrição dentro dos cards */
            .card .description {
                padding: 10px;
                text-align: center; /* Centraliza o conteúdo dentro do card */
            }

                /* Estilos para o elemento h3 dentro da descrição */
                .card .description h3 {
                    margin: 0; /* Remove a margem padrão do h3 para um visual mais limpo */
                }

        .form-group {
            top: 30px; /* Ajuste este valor para controlar a altura da subida */
        }
        /* Estilos para centralizar o campo de filtro */
        .filter-container {
            text-align: center;
            margin-top: 20px; /* Espaçamento superior */
        }

        #buscar {
            width: 300px;
            height: 50px;
            cursor: pointer;
        }
        #buscar {
            width: 300px;
            height: 50px;
            top: 10px;
            margin-left:385px;
            align-content: center;
            cursor: pointer;
        }

        .card img {
            width: 100%; /* Garante que a imagem ocupe toda a largura do card */
            height: 230px; /* Mantém a proporção da imagem */
        }

        /* Estilos para os elementos h3, h4 e h6 */
        .card .description h3, .card .description h5 {
            text-align: left;
            color:blue;
        }

        .card .description h4 {
            text-align: left; /* Centraliza */
            
        }

        .card .description h6 {
            text-align: left;
            color: gray; /* Define a cor do texto como cinza */
        }

        /* Estilos para a linha e a localização */
        .card .line {
            border-top: 1px solid #ccc; /* Linha horizontal */
        }

        .card .location {
            text-align: center; /* Centraliza a localização */
            padding: 10px;
        }

    </style>

</head>
<body>
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> </a>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>
                        <a class="nav-link text-dark" asp-area="Index" asp-controller="Home" asp-action="">Loca<strong style="color: blue;">Facil</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">CadastrarVeículo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Ajuda">Ajuda</a>
                    </li>
                </ul>
                <a class="btn btn-primary" asp-action="index" asp-controller="Login">Entrar</a>
            </div>
        </nav>
    </header>
    <hr />
    <div class="col-md-8">
        <div class="input-group mb-3" id="buscar">
            <input type="text" class="form-control" placeholder="Procure seu carro" aria-label="Campo de busca" aria-describedby="icone-lupa">
            <span class="input-group-text" id="icone-lupa">
                <ion-icon name="search-outline"></ion-icon>
            </span>
        </div>
    </div>
<div class="content-container">
    <div class="card">
        <img src="~/audi.png" />
        <div class="description">
            <p>
                <h3>Audi TT</h3>
                <h6> Motor de Brasília Pegando fogo</h6>
                    <h4><strong>R$950,00</strong> p/ dia</h4>
            </p>
                <a asp-action="VerDetalhes" asp-controller="Home">
                    <button>Ver Detalhes</button>
                </a>
            <p> </p>
            <div class="line"></div> <!-- Linha horizontal -->
            <div class="location">
                Matão - SP
            </div>
        </div>
    </div>

    <div class="card">
        <img src="~/fiat-mobi_imagem-removebg-preview.png" />
        <div class="description">
            <p>
                <h3>Fiat Mobi</h3>
                <h6> O sonho desse aqui era ser um uno</h6>
                <h4><strong>R$200,00</strong> p/ dia</h4>
            </p>
                <a asp-action="VerDetalhesMobi" asp-controller="Home">
                    <button>Ver Detalhes</button>
                </a>
            <p> </p>
            <div class="line"></div> <!-- Linha horizontal -->
            <div class="location">
                Matão - SP
            </div>
        </div>
    </div>

    <div class="card">
        <img src="~/hb20_imagem-removebg-preview.png" />
        <div class="description">
            <p>
                <h3>Hyundai HB20</h3>
                <h6> Se você faz odonto, esse já é seu</h6>
                    <h4><strong>R$200,00</strong> p/ dia</h4>
            </p>
                <a asp-action="VerDetalhesHb" asp-controller="Home">
                    <button>Ver Detalhes</button>
                </a>
            <p> </p>
            <div class="line"></div> <!-- Linha horizontal -->
            <div class="location">
                Matão - SP
            </div>
        </div>
    </div>

    <div class="card">
        <img src="~/jeep-renegade_imagem-removebg-preview.png" />
        <div class="description">
            <p>
                <h3>JEEP Renegade</h3>
                <h6> Atola até no asfalto </h6>
                    <h4><strong>R$230,00</strong> p/ dia</h4>
            </p>
                <a asp-action="VerDetalhesRene" asp-controller="Home">
                    <button>Ver Detalhes</button>
                </a>
            <p> </p>
            <div class="line"></div> <!-- Linha horizontal -->
            <div class="location">
                Matão - SP
            </div>
        </div>
    </div>

    <div class="card">
        <img src="~/peugeot308_imagem-removebg-preview.png" />
        <div class="description">
            <p>
                <h3>Peugeot 308</h3>
                <h6> Se bater motor, não é culpa nossa</h6>
                    <h4><strong>R$300,00</strong> p/ dia</h4>
            </p>
                <a asp-action="VerDetalhesPejo" asp-controller="Home">
                    <button>Ver Detalhes</button>
                </a>
            <p> </p>
            <div class="line"></div> <!-- Linha horizontal -->
            <div class="location">
                Matão - SP
            </div>
        </div>
    </div>

    <div class="card">
        <img src="~/volkswagen_gol_imagem-removebg-preview.png" />
        <div class="description">
            <p>
                <h3>Volkswagen Gol</h3>
                <h6> Não tem muito o que falar, é só um gol</h6>
                    <h4><strong>R$160,00</strong> p/ dia</h4>
            </p>
                <a asp-action="VerDetalhesGol" asp-controller="Home">
                    <button>Ver Detalhes</button>
                </a>
            <p> </p>
            <div class="line"></div> <!-- Linha horizontal -->
            <div class="location">
                Matão - SP
            </div>
        </div>
    </div>
</div>
    <footer style="background-color:blue; color: white; padding: 10px; border-radius:7px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <h4>Informações de Contato</h4>
                    <p>Endereço: Rua dos Crias, 6969</p>
                    <p>Telefone: (16) 4002-8922</p>
                    <p>Email: kokimoto@koke.com</p>
                </div>
                <div class="col-md-6 text-center">
                    <h4>Redes Sociais</h4>
                    <a href="#" target="_blank">Facebook</a><br>
                    <a href="#" target="_blank">Twitter</a><br>
                    <a href="#" target="_blank">Instagram</a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>