@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        /* Estilos para o fundo da tela */
        body {
            background-color: #F5FFFA; /* Lavanda Blush */
        }

        /* Estilos para o layout dos cards */
        .card {
            width: 30%; /* Defina a largura desejada para os cards */
            border: 1px solid #ccc;
            margin: 10px;
            display: inline-block;
            vertical-align: top;
        }

            /* Estilos para a imagem dentro dos cards */
            .card img {
                width: 100%;
                height: auto;
            }

            /* Estilos para a descrição dentro dos cards */
            .card .description {
                padding: 10px;
                text-align: center; /* Centraliza o conteúdo dentro do card */
            }

                /* Estilos para o elemento h3 dentro da descrição */
                .card .description h3 {
                    margin: 0; /* Remove a margem padrão do h3 para um visual mais limpo */
                }

        /* Estilos para o filtro */
        .filter {
            text-align: center;
            margin: 20px 0;
        }

            .filter input[type="text"] {
                padding: 5px;
                width: 200px;
            }

        /* Estilos para os elementos h3, h4 e h6 */
        .card .description h3, .card .description h5 {
            text-align: left;
        }

        .card .description h4 {
            text-align: left; /* Centraliza */
        }

        .card .description h6 {
            text-align: left;
            color: gray; /* Define a cor do texto como cinza */
        }

        /* Estilos para a linha e a localização */
        .card .line {
            border-top: 1px solid #ccc; /* Linha horizontal */
        }

        .card .location {
            text-align: center; /* Centraliza a localização */
            padding: 10px;
        }
    </style>

</head>
<body>
    <div class="filter">
        <input type="text" placeholder="Pesquisar..." id="searchInput">
    </div>
    <div class="card">
        <img src="~/audi.png" />
        <div class="description">
            <p>
                <h3>Audi TT</h3>
                <h6> Motor de Brasília Pegando fogo</h6>
                <h4><strong>R$200.000,00</strong></h4>
            </p>
            <a href="pagina_de_destino.html">
                <button>Ver Detalhes</button>
            </a>
            <p> </p>
            <div class="line"></div> <!-- Linha horizontal -->
            <div class="location">
                Matão - SP
            </div>
        </div>
    </div>

    <div class="card">
        <img src="~/fiat-mobi_imagem-removebg-preview.png" />
        <div class="description">
            <p>
                <h3>Fiat Mobi</h3>
                <h6> Motor de Brasília Pegando fogo</h6>
                <h4><strong>R$200.000,00</strong></h4>
            </p>
            <a href="pagina_de_destino.html">
                <button>Ver Detalhes</button>
            </a>
            <p> </p>
            <div class="line"></div> <!-- Linha horizontal -->
            <div class="location">
                Matão - SP
            </div>
        </div>
    </div>

    <div class="card">
        <img src="~/hb20_imagem-removebg-preview.png" />
        <div class="description">
            <p>
                <h3>Hyundai HB20</h3>
                <h6> Motor de Brasília Pegando fogo</h6>
                <h4><strong>R$200.000,00</strong></h4>
            </p>
            <a href="pagina_de_destino.html">
                <button>Ver Detalhes</button>
            </a>
            <p> </p>
            <div class="line"></div> <!-- Linha horizontal -->
            <div class="location">
                Matão - SP
            </div>
        </div>
    </div>

    <div class="card">
        <img src="~/jeep-renegade_imagem-removebg-preview.png" />
        <div class="description">
            <p>
                <h3>JEEP Renegade</h3>
                <h6> Motor de Brasília Pegando fogo</h6>
                <h4><strong>R$200.000,00</strong></h4>
            </p>
            <a href="pagina_de_destino.html">
                <button>Ver Detalhes</button>
            </a>
            <p> </p>
            <div class="line"></div> <!-- Linha horizontal -->
            <div class="location">
                Matão - SP
            </div>
        </div>
    </div>

    <div class="card">
        <img src="~/peugeot308_imagem-removebg-preview.png" />
        <div class="description">
            <p>
                <h3>Peugeot 308</h3>
                <h6> Motor de Brasília Pegando fogo</h6>
                <h4><strong>R$200.000,00</strong></h4>
            </p>
            <a href="pagina_de_destino.html">
                <button>Ver Detalhes</button>
            </a>
            <p> </p>
            <div class="line"></div> <!-- Linha horizontal -->
            <div class="location">
                Matão - SP
            </div>
        </div>
    </div>

    <div class="card">
        <img src="~/volkswagen_gol_imagem-removebg-preview.png" />
        <div class="description">
            <p>
                <h3>Volkswagen Gol</h3>
                <h6> Motor de Brasília Pegando fogo</h6>
                <h4><strong>R$200.000,00</strong></h4>
            </p>
            <a href="pagina_de_destino.html">
                <button>Ver Detalhes</button>
            </a>
            <p> </p>
            <div class="line"></div> <!-- Linha horizontal -->
            <div class="location">
                Matão - SP
            </div>
        </div>
    </div>
</body>
</html>
