<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            text-align: center;
        }

        .carousel {
            margin-top: 20px;
        }

        .car-details {
            background-color: #fff;
            width: 300px;
            margin: 20px auto;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        h1 {
            font-size: 24px;
            color: #333;
        }

        p {
            font-size: 16px;
            color: #555;
            margin: 10px 0;
        }
    </style>
    <title>Detalhes do Carro</title>
</head>
<body>
    <!-- Carrossel de imagens -->
    <div id="car-image-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/audi.png" alt="Carro 1">
            </div>
            <div class="carousel-item">
                <img src="~/hb20_imagem-removebg-preview.png" alt="Carro 2">
            </div>
            <div class="carousel-item">
                <img src="~/jeep-renegade_imagem-removebg-preview.png" alt="Carro 3">
            </div>
        </div>
    </div>

    <!-- Detalhes do Carro -->
    <div class="container car-details">
        <h1>Detalhes do Carro</h1>
        <p><strong>Marca:</strong> Ford</p>
        <p><strong>Modelo:</strong> Mustang</p>
        <p><strong>Cor:</strong> Vermelho</p>
        <p><strong>Ano:</strong> 2023</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</body>
</html>
