<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css">
    <style>
        /* Estilo para centralizar imagens dos carros no carousel */
        #car-image-carousel img {
            display: block;
            margin: 0 auto;
            height: 500px;
        }

        /* Estilo para centralizar o título "Detalhes do Carro" e deixá-lo em negrito */
        .container.car-details h1 {
            font-size: 24px;
            text-align: center;
            font-weight: bold;
            font-family: Arial, sans-serif; /* Altere a fonte conforme desejado */
        }

        /* Estilo para os parágrafos com detalhes do carro (alinhados à esquerda) */
        .container.car-details p {
            font-size: 18px;
            text-align: left;
            font-family: Arial, sans-serif; /* Altere a fonte conforme desejado */
        }

            /* Estilo para os parágrafos com a marca e modelo (negrito) */
            .container.car-details p strong {
                font-weight: bold;
                color: #333;
            }
    </style>
    <title>Detalhes do Carro</title>
</head>
<body>
    <!-- Carrossel de imagens -->
    <div id="car-image-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/jeep-renegade_imagem-removebg-preview.png" alt="Carro 1">
            </div>
            <div class="carousel-item">
                <img src="~/rene_traseira2-removebg-preview.png" alt="Carro 2">
            </div>
            <div class="carousel-item">
                <img src="~/rene_interna.jpg" alt="Carro 3">
            </div>
        </div>
    </div>

    <!-- Detalhes do Carro -->
    <div class="container car-details">
        <h1>Detalhes do Carro</h1>
        <p><strong>Marca:</strong> Ford</p>
        <p><strong>Modelo:</strong> Mustang</p>
        <p><strong>Cor:</strong> Vermelho</p>
        <p><strong>Ano:</strong> 2023</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</body>
</html>
